#root {
  /* text-align: center; */
  background: rgb(36, 57, 95);
  min-height: 100vh;
  height: 100%;
  padding-top: 2%;
}

.App{min-height: 92vh;
  height: 100%;
}

.hero{
  background: whitesmoke;
  border: 10px solid rgb(6, 155, 160) ;
  border-radius: 10px;
  height: auto;
}

ul .list-group-item{
  list-style: none;
  border: 2px solid #b5c5dd !important;
  border-radius: 2px;
  /* opacity: 0; */
  transition: opasity 0.5 ease-in-out;
}

ul li label{
  margin: auto;
  font-size: 18px;
  height: 100%;
  vertical-align: middle;
}

ul li #check{
  width: 25px;
  height: 25px;
  margin: 2px;
  vertical-align: middle;
  position: relative;
}


ul li input[type="checkbox"]:checked+label{
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.3);
}
